

import(
  tcltk, 
  tcltk2, 
  ape, 
  pamr, 
  e1071, 
  class, 
  lattice,
  tsne
)

export(
  assign.plot.colors,
  classify,
  define.plot.area,
  delete.markup,
  delete.stop.words,
  gui.classify,
  gui.oppose,
  gui.stylo,
  load.corpus.and.parse,
  load.corpus,
  make.ngrams,
  make.samples,
  make.table.of.frequencies,
  oppose,
  perform.culling,
  perform.delta,
  perform.knn,
  perform.naivebayes,
  perform.nsc,
  perform.svm,
  rolling.classify,
  rolling.delta,
  stylo.default.settings,
  stylo.pronouns,
  stylo,
  txt.to.features,
  txt.to.words.ext,
  txt.to.words,
  zeta.chisquare,
  zeta.craig,
  zeta.eder
)

S3method(print, stylo.results)
S3method(print, stylo.corpus)
S3method(print, stylo.data)
S3method(summary, stylo.results)
S3method(summary, stylo.corpus)


